# -----------------------------------------------------------------------------
# Application
# -----------------------------------------------------------------------------
ORIGIN=http://localhost:3000
# -----------------------------------------------------------------------------
# Database (Prisma)
# -----------------------------------------------------------------------------
DB_USER=
DB_PASSWORD=
DB_PORT=
DB_NAME=
DATABASE_URL=mysql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}?schema=public

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL=
NEXTAUTH_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_ACCESS_TOKEN=

# -----------------------------------------------------------------------------
# GCP
# -----------------------------------------------------------------------------
GCP_PROJECT_ID=

