 # -----------------------------------------------------------------------------
 # Database (Prisma)
 # -----------------------------------------------------------------------------
 DB_USER=
 DB_PASSWORD=
 DB_PORT=
 DB_NAME=
 DATABASE_URL=mysql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}?schema=public

