ul[data-type="taskList"] {
  list-style: none;
  padding: 0;

  p {
    margin: 0;
  }

  li {
    display: flex;
    align-items: center;
    // background-color: #dafbe1;
    margin: 0;
    padding: 0;

    > label {
      // background-color: #bf8700;
      flex: 0 0 auto;
      padding: 0;
      margin: 0 0.5rem 0 0;
      user-select: none;
    }

    > div {
      // background-color: #94d3a2;
      flex: 1 1 auto;
      margin: 0;
      padding: 0;
    }

    ul li,
    ol li {
      display: list-item;
    }

    ul[data-type="taskList"] > li {
      display: flex;
      align-items: center;
    }
  }
}
